@import "../../../styles.scss";

header {
    .heading {
        font-family: $font-display;
        text-align: center;
        font-size: 80px;
        letter-spacing: 2px;
        color: rgba($color-primary, 0.95);
        margin-block: 20px 0;
        text-shadow: 0 0 20px white;

        @media screen and (max-width: 400px) {
            font-size: 60px;
        }
    }
}

nav {
    margin: 15px;
    display: flex;
    justify-content: center;

    .change-level-btn {
        padding: 10px 15px;
        font-family: $font-primary;
        font-weight: 900;
        font-size: 20px;
        background-color: rgba(floralwhite, 0.8);
        border: none;
        transition: all 0.2s;
        color: $color-primary;
        border: 2px solid transparent;
        
        &:disabled {
            opacity: 0.5;
        }
        
        &:not(:disabled):hover {
            cursor: pointer;
            z-index: 1;
            background-color: rgba($color-primary, 0.8);
            color: whitesmoke;
            transform: scale(1.1);
            border: 2px solid whitesmoke;
        }
    }
}
