@import "../../../styles.scss";

header {
    .heading {
        font-family: $font-display;
        text-align: center;
        font-size: 80px;
        letter-spacing: 2px;
        color: rgba($color-primary, 0.95);
        margin-block: 20px 0;
        text-shadow: 0 0 20px white;

        @media screen and (max-width: 400px) {
            font-size: 60px;
        }
    }
}
