@import "../../../styles.scss";

:host {
    text-align: center;
}

header {
    .heading {
        font-family: $font-display;
        font-size: 80px;
        letter-spacing: 2px;
        color: rgba($color-primary, 0.95);
        margin-block: 20px 0;
        text-shadow: 0 0 20px white;

        @media screen and (max-width: 400px) {
            font-size: 60px;
        }
    }
}

main {
    @media screen and (min-width: 1200px) {
        margin: auto;
    }
}

.side-bars {
    .progress-board {
        right: 30px;
        &-table-headers {
            padding: 10px;
        }

        .line-through {
            text-decoration: line-through lighten($color: $color-red, $amount: 10);
        }
    }

    @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: center;
    }
}
