@import "../../../styles.scss";

:host {
    text-align: center;
}

.game-board {
    width: fit-content;
    margin: auto;
    transform: translateX(-10px);

    &-axises {
        font-family: $font-display;
        color: white;
        font-size: 14px;
        padding: 2px;
    }

    &-row {
        &-square {
            height: 44px;
            width: 44px;
            max-width: 10%;

            &.success {
                filter: blur(4px);
                button {
                    background-color: rgba(40, 87, 173, 0.8);
                }
            }

            &-btn {
                height: 100%;
                width: 100%;
                border: none;
                background-color: rgba($color-primary, 0.85);
                box-shadow: 0 0 5px 1px white;
                transition: background-color 0.2s ease-out;

                &:hover,
                &:focus {
                    background-color: rgba(#EEE, 0.5);
                }

                &:disabled {
                    &.ship {
                        background-color: rgba(185, 30, 30, 0.8);
                    }
                    &:not(.ship) {
                        background-color: rgba(65, 183, 70, 0.8);
                    }
                }

                &:not(:disabled) {
                    cursor: pointer;
                }
            }
        }
    }
}
