<div class="state-msg" *ngIf="gameStateMsg" aria-live="assertive">
  {{ gameStateMsg }}
</div>


<table class="game-board" [ngClass]="gameState === 0 ? '' : gameState === 1 ? 'success' : 'failed'">
  <thead>
    <tr>
      <td></td>
      <th *ngFor="let label of xAxisLabels" class="game-board-axises">{{label}}</th>
    </tr>
  </thead>

  <tbody>
    <tr class="game-board-row" *ngFor="let row of counter(amountOfRows); trackBy: trackByFn; index as rowI">
      <th class="game-board-axises">{{yAxisLabels[rowI]}}</th>

      <ng-container *ngFor="let square of boardSquaresArr; index as squareI">
        <td *ngIf="squareI | matrixPipe : rowI : squaresPerRow" class="game-board-row-square">

          <button (click)="squareClicked(squareI)" [disabled]="gameState !== 0" class="game-board-row-square-btn"
            [ngClass]="{'ship': square.isShip, 'clicked': square.isClicked}" [id]="squareI"
            [attr.aria-disabled]="square.isClicked">

            <ng-container *ngIf="gameState === 0 && square.isShip">
              <img class="boom-img" *ngIf="square.isClicked; else shipNotClicked" src="./assets/Boom-PNG-File.png"
                alt="boom icon">
              <ng-template #shipNotClicked>
                <img class="ship-img" src="./assets/submarine_3d.png" alt="ship icon">
              </ng-template>
            </ng-container>

          </button>
        </td>
      </ng-container>

    </tr>
  </tbody>
</table>