@import "../../../styles.scss";

:host {
    text-align: center;
}

.y-axis-lables {
    display: inline-flex;
    width: 25px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    span {
        height: 50px;
    }
}

.game-board {
    width: fit-content;
    margin: auto;
    box-shadow: 0 0 20px 2px white;

    &-row {
        &.success &-square {
            background-color: rgba(39, 125, 224, 0.7);
        }

        &-square {
            outline: 1px solid white;
            border: none;
            background-color: rgba($color-primary, 0.85);
            height: 50px;
            width: 50px;
            max-width: 10%;
            transition: background-color 0.2s ease-out;
            padding: 4px;
            cursor: pointer;
            &:hover {
                background-color: rgba(white, 0.5);
            }

            &:disabled {
                &.ship {
                    background-color: rgba(185, 30, 30, 0.7);
                }
                &:not(.ship) {
                    background-color: rgba(65, 173, 70, 0.7);
                }
            }

            &:not(:disabled) {
                box-shadow: 0 0 2px 2px white;
            }
        }
    }
}
