<div class="game-board">

  <div class="state-msg" *ngIf="gameState !== EGameState.PLAYING" role="dialog" aria-labelledby="state-msg-img">
    <img id="state-msg-img" *ngIf="gameState === EGameState.WON" src="./assets/trophy.svg" alt="winner image">
  </div>

  <table
    class="game-board-table"
    [ngClass]="{
      'wide': data.isWideBoard,
      'won': gameState === EGameState.WON,
      'lost': gameState === EGameState.LOST,
      'large': data.isWideBoard
    }"
  >
    <thead>
      <tr>
        <td></td>
        <th *ngFor="let label of axesLabels.x" class="game-board-axes">{{label}}</th>
      </tr>
    </thead>

    <tbody>
      <tr class="game-board-row" *ngFor="let row of rows; trackBy: trackByFn; index as rowI">
        <th class="game-board-axes">{{axesLabels.y[rowI]}}</th>

        <ng-container *ngFor="let square of boardSquaresArr; index as squareI">
          <td
            *ngIf="squareI | matrixPipe : rowI : data.columns"
            class="game-board-row-square"
            [style]="{
              width:''+squareWidthInPercent+'%',
              paddingBottom: ''+squareWidthInPercent+'%'
            }"
            >
            <app-game-board-square [square]="square" [gameState]="gameState"
              (squareClickedEmit)="squareClicked(squareI, $event)">
            </app-game-board-square>
          </td>
        </ng-container>

      </tr>
    </tbody>
  </table>

</div>
