@import "../../../styles.scss";

:host {
    text-align: center;
    font-family: $font-display;
}

.state-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    z-index: 1;
    width: 650px;
    border-radius: 50px;
    background-color: rgba(antiquewhite, 0.8);
    padding-inline: 20px;
    box-sizing: border-box;
}

.game-board {
    width: fit-content;
    margin: auto;
    transform: translateX(-10px);

    &-axises {
        color: white;
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        font-weight: 600;
        padding: 2px;
    }

    &.success {
        filter: blur(4px);
        .game-board-row-square-btn {
            background-color: rgba(40, 87, 173, 0.8);
        }
    }

    &-row {
        &-square {
            height: 44px;
            width: 44px;
            max-width: 10%;

            &-btn {
                position: relative;
                height: 100%;
                width: 100%;
                border: none;
                background-color: rgba($color-primary, 0.85);
                box-shadow: 0 0 5px 1px white;
                transition: background-color 0.2s ease-out;
                padding: 3px;

                &:hover,
                &:focus {
                    background-color: rgba(#eee, 0.5);
                }

                &.clicked {
                    &.ship {
                        background-color: rgba(185, 30, 30, 0.8);
                    }
                    &:not(.ship) {
                        background-color: rgba(65, 183, 70, 0.8);
                    }
                }

                &:not(.clicked) {
                    cursor: pointer;
                }

                .ship-img {
                    width: 100%;
                    filter: brightness(2) contrast(2);
                }
                .boom-img {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
