@import "../../../../styles.scss";

.square-btn {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba($color-primary, 0.85);
    box-shadow: 0 0 5px 1px white;
    transition: background-color 0.2s ease-out;
    padding: 0;
    display: block;
    position:absolute; //hi again
    top:0;
    left:0;
    bottom:0;
    right:0;
    &.won {
        background-color: $color-blue;
    }

    &:hover,
    &:focus {
        background-color: rgba(#eee, 0.5);
    }

    &.clicked {
        &.ship {
            background-color: rgba($color-red, 0.8);
        }
        &:not(.ship) {
            background-color: rgba(35, 153, 70, 0.8);
        }
    }

    &:not(.clicked, :disabled) {
        cursor: pointer;
    }

    .ship-img {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        pointer-events: none;
        left: 0;

        &:not(.small) {
            filter: brightness(2) contrast(2);
        }

        &.vertical {
            left: 1px;
        }

        &:not(.vertical) {
            transform-origin: left;
        }
    }

    .boom-img {
        z-index: 1;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

button.square-btn.ship.won {
    background-color: $color-blue;
}
