@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Spicy+Rice&display=swap");

$color-primary: rgb(33, 49, 48);
$color-blue: rgba(40, 87, 173, 0.8);
$color-red: rgb(155, 30, 30);

$font-primary: "Raleway", sans-serif;
$font-display: "Spicy Rice", cursive;

html {
  font-family: $font-primary;
}

body {
  background-image: url(./assets/bg-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

// Hide number input's arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.side-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-primary;
  font-size: 15px;
  background-color: rgba($color-primary, 0.85);
  color: aliceblue;
  backdrop-filter: blur(5px);
  padding: 10px 5px;
  width: 130px;

  @media screen and (min-width: 1200px) {
    height: 90vh;
  }
  @media screen and (max-width: 1200px) {
    position: relative;
    left: revert;
    right: revert !important;
    margin-top: 50px;
    top: revert;
  }
}
