@import "../../../styles.scss";

.new-game-form {
    flex-direction: column;

    &-input {
        font-family: inherit;
        color: floralwhite;
        text-align: inherit;
        border: 2px solid transparent;
        border-bottom: 2px solid floralwhite;
        background-color: transparent;
        width: 100px;
        padding-block: 10px 5px;
        margin-block: 5px 20px;
        transition: all 0.2s;
        &.error {
            border-bottom-color: $color-red;
        }
        &:focus {
            outline: none;
            border: 2px solid rgba(floralwhite, 0.8);
            border-radius: 6px;
            &.error {
                border-color: $color-red;
            }
        }
    }
    &-hint {
        transform: translateY(-15px);
        font-size: 12px;
        height: 20px;
    }

    &-btn {
        padding: 8px 12px;
        font-family: inherit;
        font-weight: 900;
        font-size: 18px;
        cursor: pointer;
        background-color: rgba(floralwhite, 0.8);
        border: none;
        border-radius: 6px;
        transition: all 0.2s;
        color: $color-primary;
        border: 2px solid transparent;

        &:hover {
            background-color: rgba($color-primary, 0.8);
            color: whitesmoke;
            transform: scale(1.1);
            border: 2px solid whitesmoke;
        }
    }
}
