<form [formGroup]="gameLevelFormGroup" (submit)="newGameSubmitted(gameLevelFormGroup)" class="side-bar new-game-form">
    <label for="ships" class="new-game-form-label"> Ships </label>
    <input class="new-game-form-input" type="number" placeholder="default" name="ships" formControlName="amountOfShips"
        appOnlyDigits />
    <label for="rows" class="new-game-form-label"> Rows </label>
    <input class="new-game-form-input" type="number" placeholder="default" name="rows" formControlName="rows"
        appOnlyDigits />
    <label for="columns" class="new-game-form-label"> Colums </label>
    <input class="new-game-form-input" type="number" placeholder="default" name="columns" formControlName="columns"
        appOnlyDigits />

    <button type="submit" class="new-game-form-btn">
        New Game
    </button>
</form>